@import "tailwindcss";
@theme {
  --color-brand-primary: #2563EB;
  --color-brand-secondary: #7DD3FC;
  --color-brand-base: #FFFFFF;
  --color-success: #16A34A;
  --color-warning: #D97706;
  --color-danger: #DC2626;

  --font-display: 'Lobster Two', cursive;
  --font-sans: 'Outfit', sans-serif;
}

body {
  margin: 0;
}